<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Application Ticket Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-ticket-interface-kiranshastry-lineal-color-kiranshastry-1.png">
    <!-- <link rel="shortcut icon" type="image/png" href="/favicon/ticket64.png"/> -->
</head>
<body>

      <ul>
        <li><a href="/">Application Ticket Tool</a></li>
        <li><a href="/csv_lastMonth">Export for {{ lastMonth }}</a></li>
        <li><a href="/getCSVfile">Export All</a></li>
        <li><a class="label-static">Incident: {{ count.incident }}</a></li>
        <li><a class="label-static">Service Request: {{ count.req }}</a></li>
        <form  id="search" action = "{{url_for('search')}}" method="POST">
          <input type="number"  name="tt_number" placeholder="Enter Ticket Number">
          <!-- <input type="submit" value="Search"> -->
      </form>
      </ul>
    
      <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Application Ticket Tracker Tool</h3>
                        <div class="flasher">
                            {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endfor %}
                        </div>
                        
                        <form method="POST">
    
                            <div class="col-md-12">
                               <input class="form-control" type="text" name="num" placeholder="Ticket Number (should be number) *" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="{{ request.form['num'] }}">
                            </div>
                            <div class="col-md-12">
                                <!-- <input class="form-control" type="text" name="descr" placeholder="Ticket Description *" value="{{ request.form['descr'] }}"> -->
                                <input class="form-control" type="text" name="descr" placeholder="Ticket Description *" list="category">
                                <datalist id="category">
                                  {% for i in category %}
                                        <option value="{{ i.CATEGORY }}">{{ i.CATEGORY }}</option>
                                      {% endfor %}
                                </datalist>
                             </div>
    
                           <div class="col-md-12">
                                <select class="form-select mt-3" name="ticket_type">
                                      {% for i in data %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                      {% endfor %}
                               </select>
                           </div>
                           <br>
                           <div class="col-md-12">
                                <!-- <input class="form-control" type="text" name="detail" placeholder="Detailed description" value="{{request.form['detail'] }}"> -->
                                <textarea name="detail" type="text" class="form-control" placeholder="Detailed description *" value="{{ request.form['detail'] }}"></textarea>
                           </div>
                           <div class="col-md-12">
                            <select class="form-select mt-3" name="resolved_user">
                                  {% for i in users %}
                                    <option value="{{ i.user }}">{{ i.user }}</option>
                                  {% endfor %}
                           </select>
                            </div>
                           <div class="col-md-12">
                            <select class="form-select mt-3" name="app_name">
                                  {% for i in app_nm %}
                                    <option value="{{ i.name }}">{{ i.name }}</option>
                                  {% endfor %}
                           </select>
                            </div>
                            <br>
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">SUBMIT</button>
                            </div>
                            <label class="label-mand">* fields are mandatory</label> |
                            <label>^Best viewed at 75%</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

